.login-main-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 26%;
  height: 303px;
  border-radius: 5px;
}

.login-page:hover {
  border-color: #c92127;
  box-shadow: 0 15px 35px #0000001a;
}

.login-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.login-label {
  display: flex;
  align-items: center;
  justify-content: end;
}


.login-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-page form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-page label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-page input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn {
  width: 45%;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-login {
  display: flex;
  justify-content: end;
  align-content: center;
}

.login-page button:hover {
  background-color: #0069d9;
}

.login-page .error-message {
  color: red;
  margin-top: 10px;
}








@media (min-width:300px) and (max-width:767px) {

  .login-page {

    width: 93%;
  }

.login-new-member{
  margin-left: 15px;
}


}