.reg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;

}

.reg-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  width: 40%;
  height: 400px;
  border-radius: 5px;
}

.reg-contain:hover {
  border-color: #c92127;
  box-shadow: 0 15px 35px #0000001a;
}

.reg-contain h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.registration-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

}


.reg-input label {
  font-weight: bold;
  margin-bottom: 5px;
}

.reg-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  align-items: center;
  justify-content: center;

}

.reg-label {
  display: flex;
  align-items: center;
  justify-content: end;
}




.btn-reg {
  width: 50%;
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-reg {
  display: flex;
  justify-content: end;
  align-content: center;
}

.login-page button:hover {
  background-color: #0069d9;
}

.reg-contain .error-message {
  color: red;
  margin-top: 10px;
}





@media (min-width:300px) and (max-width:767px) {

  .reg-contain {

    width: 96%;
  }

  .para {
  margin-left: 15px;
  text-align: center !important;
}

.registration-input {
  
  margin: 0 8%;
}

}